*{
    font-family: 'Merriweather', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;

}
.logo{
    font-family: Work Sans;
font-size: 45px;
font-weight: 700;

text-align: center;
color:#131313;

}
.engi{
    width: 1320px;
    height: 700px;
    padding:5px;
    border-radius: 8px;
   
}
.logo{
    
    font-family: Work Sans;
font-size: 45px;
font-weight: 700;
line-height: 53px;
letter-spacing: 0em;
text-align: center;
}
.nav-iteam{
    font-family: Work Sans;
font-size: 18px;
font-weight: 500;

text-align: center;

display:flex;
color:#424242;
text-styles: none;

}
.navbar>nav-iteam{
    color:#424242;
}
nav{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    vw:100%;

}
.nava{
   
    display:flex;
    flex-direction: row;
    color:#424242;
    text-styles: none;
}
.headline{
   display:flex;
   align-items: center;
   justify-content:center;
   
}
.head-descrip{
    font-family: Work Sans;
font-size: 16px;
font-weight: 400;
text-align: center;
color:#727272;
border:2px solid skyblue;
margin:30px 180px;
font-size: 16px;
}
.expl{
    width: 120px;
height: 60px;
border-radius: 8px;
background-color:#FF900E;
margin:10px 560px;
font-family: Work Sans;
font-size: 20px;
font-weight: 600;
color:#FFFFFF;
text-align: center;}


.des{
    
        color: #424242;
        text-decoration: none;
}         

 

.engi{
    width:100%;
    height: 100%;
}
h1.headline {
    font-family: Work Sans;
    font-size: 64px;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: 0em;
    text-align: center;
}

.second{
    display:flex;
    flex-direction:row;
    vw:100%;
}
.second>.images{
    vw:50%;
}
.right{
    vw:50%;
}
.images{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-column-gap:3px;
}
.rght{
    font-family: Work Sans;
font-size: 45px;
font-weight: 500;
line-height: 53px;
letter-spacing: 0em;
text-align: left;
margin:4em 0em .8em 1.7em;

}
.rght-des{
    font-family: Work Sans;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0em;
text-align: left;
margin:1.5em 0em 2em 4.5625em;
flex-wrap:wrap;
}
.ex{
    display:flex;
    align-items:left;
    justify-content:left;
    }
.explore{
    margin:32px 400px 202px 73px;
    width: 120px;
    height: 60px;
    border-radius: 8px;
    background-color:#FF900E;
    
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    color:#FFFFFF;
    text-align: center;
}
.third{
    display:flex;
    flex-direction: row;
    max-width: 100%;
max-height: 100%;


}
.third-header{
    font-family: Work Sans;
font-size: 45px;
font-weight: 700;
margin-top: 20px;
text-align: left;

}
.des{
    font-family: Work Sans;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0em;
text-align: left;


}
.head{
    font-family: Work Sans;
font-size: 20px;
font-weight: 600;

text-align: left;

}

.div{
    margin-top:20px;
    padding:30px;
}

.im{
    width: 708px;
height: 1182px;

border-radius: 8px;

}
.btn-or{
    width: 342px;
height: 200px;
background-color:#FF900E;
color:#FFFFFF;
position: relative;
top:-100px;
left:-110px;

font-family: Work Sans;
font-size: 65px;
font-weight: 700;
line-height: 70px;
letter-spacing: 0em;
text-align: center;

font-family: Work Sans;
font-size: 45px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0em;
text-align: center;

}

.ex{
    font-family: Work Sans;
    font-size: 25px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;

}
.third-left{
    padding:0px 140px 20px 0px;
}

.third-right{padding:20px 0px 0px 0px;}

.box-container{
    display:grid;
    grid-template-columns:repeat(4,1fr);
}
.box{
    padding:60px 35px;
    border:1px solid red;
}
.ribon{
    display:flex;
    align-items:center;
    justify-content:center;
    border:1px solid red;
}
.box>.ribom{
    display:flex;
    justify-content:space-evenly;
}
.img-box{
    display:flex;
    align-items:center;
    justify-content:center;
}
.box>.num{
    display:flex;
    align-items:center;
    justify-content:center;
}
.box>.describe{
    display:flex;
    align-items:center;
    justify-content:center;
}
.pass{
    
}
.full{
    width:100%;
    height:25rem;
}
.he{
    color:
    #131313;
    font-family: Work Sans;
font-size:2rem;
font-weight: 700;

text-align: center;


}
.de{
    color:#727272;
    font-family: Work Sans;
font-size: .7rem;
font-weight: 400;
text-align: center;

}
.sp{
    width:5rem;
    height:2rem;
}
.i1{
    display:flex;
    gap:12rem;
    margin-top:3rem;
    width:50rem;
}
.foot{
    width:100%;
margin-top:4rem;
background-color:#FFF4E7;
color:#424242;
display:flex;
align-items:center;
justify-content:center;
padding:1rem;

}









@media screen and (max-width:576px){
    nav,.logo,.navbar,.header-content,.head-descrip,.img,.exp,.second,.images,.right,.exp,.third,.btn-or,.fourth,.box-container,.i1{
       display:flex;
       flex-direction:row;
       flex-wrap: wrap;
       align-items:center;
       justify-content:center;
       padding:3px;
       margin:0;
       width:100%;

    }
    .box{
        padding:60px;
    }
    .third-left{
        padding:0px ;
    }
    .third-right{padding:0px 0px 0px 0px;
        display:flex;
        flex-direction:row;
    }

    .im{
        width:100%;
    height:100%;
    
    border-radius: 8px;
    
    }
    .rght-des{
        display:flex;
        flex-direction:row;
        font-size: 13px;
    }
    .btn-or{
        width: 5em;
        height: 3em;
        background-color:#FF900E;
        color:#FFFFFF;
        position: relative;
        margin-top:0vh;
       
        display:flex;
        justify-content:flex-start;
        
       
    }
    .btn{
        display:flex;
       flex-direction:row;
       flex-wrap: wrap;
       align-items:center;
       justify-content:center;
       padding:3px;
       margin:0;
       width:100%;
       margin-top:41em;
       position: relative;
       left:-10em;
    }
    .exp{
        padding:1px;
       
        display:flex;
        flex-direction:row;
        
        align-items:center;
        justify-content: center;
    }
       
    .explore{
        width: 120px;
    height: 60px;
    border-radius: 8px;
    background-color:#FF900E;
    margin:0px;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    color:#FFFFFF;
    text-align: center;
    
    }
    ex{
        display:flex;
        flex-direction:row;
        
        align-items:center;
        justify-content: center;
        border:3px solid red;
    }
    .engi{
        width:100%;
        height:100%;
    }
    .head-descrip{
        margin:0px;
    }
    .logo{
        font-size:3rem;
    }
    

  .head-descrip {
    margin: 0px;
    margin-bottom: 2px;
}
.rght{font-family: Work Sans;
font-size: 20px;
font-weight: 500;
display:flex;
flex-direction: row;
padding:1px;
text-align:center;
justify-content:center;
align-items:center;

margin:0px;
}
}

@media screen and (min-width:577px) and (max-width:768px){
    nav,.logo,.navbar,.header-content,.head-descrip,.explore,.img{
        display:flex;
        flex-direction:row;
        flex-wrap: wrap;
        align-items:center;
        justify-content: flex-end;}
   
   
    .exp{
    
        align-items: center;
        justify-content: center;
        display: flex;
    
}
    
}